<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container_div {
            width: 166px;
            height: 96px;
            background: #5A87FB;
            align-content: center;
            overflow: hidden; /* Add this to hide overflow */
        }

        p {
            word-wrap: break-word; /* Add this to wrap long words */
            margin: 0; /* Add this to remove default margin */
        }
        .ic{
            width: 41.932px;
height: 16.98px;
flex-shrink: 0;
padding-left: 50px;
        }
    </style>
</head>
<body>
    <div class="container_div">
        <div class="ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="18" padding-left="50" viewBox="0 0 43 18" fill="none">
                <path d="M42.4531 8.71428C42.4531 13.4031 33.0663 17.2041 21.487 17.2041C9.90769 17.2041 0.520828 13.4031 0.520828 8.71428C0.520828 4.0255 9.90769 0.224487 21.487 0.224487C33.0663 0.224487 42.4531 4.0255 42.4531 8.71428Z" fill="#7DDB87"/>
              </svg>
        </div>
        <p>hbadshfdjhdbhjdbhjbfdhdhdwhbhwbhbehdb</p><br>
        <p>jnwdjendj</p>
    </div>
</body>
</html>
