{% extends "bucket_lists.html"%}

{%block content%}

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
    <div class="col text-center">
                      </div>
    <div class="navbar-brand text-light display-2">WELCOME,username
  </div>
  
     <a href="{{url_for('logout')}}" class=" btn btn-outline-light btn-lg m-2 text-capitalize">logout</a>
    
  </nav>
  
  <div class=""></div>
  
   
       
        <div class="col-md-12 col-md-100 p-2 ">
          <div class="justify-content col-md-100 p-2  ">
              
              
              
            <form action="{{ url_for('update_item', id=bucketlist.id,item_id=item.id) }}" method="POST" enctype="multipart/form-data">
        
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="flashes" style="text-align: center; padding-right: 350px;">

                {% for message in messages%}
                <p> <font color="red">{{ message}}</font></p>


                
                {% endfor %}
                </div>
              {% endif %}
              {% endwith %}
    
        <div class="container-fluid register">
                        <div class="row">
                            <div class="col-md-3 register-left">
                                <img src="" alt=""/>
                                <marquee behavior="" direction=""><h4>I dont want to die young</h></marquee>
                                
        
                            </div>
                            <div class="col-md-9 register-right">
                                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                    <div class="p-2 col-md-100">
                                        
              
                
                                      <div class="button-container">
                                        <button  type="button" style="color: red;" onclick="reloadPage()">DISCARD</button>
                                        <input type="hidden" name="_method" value="PUT">
                                        
                            
                                        
                                        <button><input type="submit" value="Update Item">   </button>
                                        
                                        
                                        
                                    </div>
                                    
                                    <li class="nav-item">
        
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        
                                        
                                      </div> 
                                        
                                        <h3 class="register-heading justify-content"><i>Bucket List </i></h3>
                                        <div class="row register-form">
                                            <div class="col-md-6">
        
        
                                              
        
                                                <div class="form-group">
                                                    <label for="username">Bucketlist Name:</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Bucketlist name" name="bucketlist_name" value="{{bucketlist.name}}" disabled/>
                                                </div>
                                                        
                                                    <label for="password">New Item :</label>
                                                    <input type="text" name="item_name" id="password" class="form-control" placeholder=" Item name"  value="{{item.name}}"  required/>
                                                </div>
                                                
                                               
                                                
                                                
                                              
                                                <!-- <input type="submit" class="btnRegister form-control" id="butsave" name="register"  value="Register"/> -->
                                            </div>
                                        
                                        </div>
                                    </div>
                                
        <!--end of table-->
        
      </div>
    </div>
   
      

        
    </div>

  </div>
</div>
</form>
        

    
 
                 
        
       <div class="button-container" style="margin-right: 270px; ">
        
        <form method="POST" action="{{ url_for('delete_item', id=bucketlist.id, item_id=item.id) }}">
          <input type="hidden" name="_method" value="DELETE">
          <button style="background-color: red;" type="submit">Delete Item</button>
      </form>
      
      </div>
   
   
         
     
    
    
        
   
 




<script>
document.querySelector('form').addEventListener('submit', function(event) {
event.preventDefault();
const form = event.target;
const formData = new FormData(form);
const url = form.action;
const xhr = new XMLHttpRequest();
xhr.open('PUT', url);
xhr.onload = function() {
if (xhr.status!==404) {
    location.reload();
} else {
    alert('Error updating bucketlist');
}
};
xhr.send(formData);
});
function reloadPage() {
location.reload();

};


</script>

{% endblock content%}

